.page-center {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    float: none;
}
#word-wrapper-container {
    margin-top: 50px;
}
.word-wrapper {
    text-align: center;
    float: left;
}
.word-wrapper span {
    font-size: 40px;
}
.letter-wrapper {
    width: 35px;
    float: left;
    margin-right: 5px;
    letter-spacing: 3px;
    min-height: 50px;
    text-align: center;
}
.letter-wrapper.unsolved {
    border-bottom: 5px solid #000;
    
}
.letter-wrapper .solved {
    border-bottom: 0px;
}
.unsolved span {
    display: none;
}
.live {
    position: relative;
    transition: opacity 1s ease;
}
.live #game-info {
    opacity: 0;
}
#instructions {
    height: 167px;
}
#new-game-prompt {
    display: block;
}
.live #new-game-prompt {
    display: none;
}
#game-info {
    transition: opacity 1s ease;
    position: static;
    text-align: center;
}
#game-on {
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 1s ease;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
}
.live #game-on {
    opacity: 1;
    display: block;
}
#video-lightbox {
    position: absolute;
    top: 20%;
    display: none;
}
#video-lightbox iframe {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    width: 100%;
    height: 400px;
}
#video-lightbox .video-wrapper {
    margin: 0 auto;
}
#video-lightbox .jumbotron {
    position: relative;
}
#lightbox-close {
    position: absolute;
    top: 5px;
    right: 15px;
}
#lightbox-close a {
    font-size: 30px;
    color: #000;

}
#lightbox-close:hover a {
    text-decoration: none;
}
#video-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
}
#video-footer {
    text-align: center;
    font-size: 23px;
    padding-top: 10px;
}
#mobile-input {
    margin: 0 auto;
    height: auto;
    width: 80%;
    overflow: hidden;
}
#mobile-input input {
    text-align: center;
}
.bg-disabled {
    background-color: #ccc;
}
.body-background-image #instructions {
    background: transparent;
    border: none;
    color: #fff;
}
.body-background-image .letter-wrapper {
    color: #fff;
    text-shadow: 2px 3px 5px #000;
}
.body-background-image .unsolved {
    border-color: #fff;
}
.body-background-image #instructions button {
    border: 3px solid #fff;
}
@media (max-width: 768px){
    .letter-wrapper {
        width: 20px;
    }
    .letter-wrapper span {
        font-size: 30px;
    }
    #word-wrapper-container {
        margin-bottom: 50px;
    }
}

